@import url("./root.css");

a {
    background-color: transparent !important;
    color: inherit !important;
}

th {
    background-color: #F32121 !important;
    color : var(--92) !important;
    
}

td {
    border: none !important;
}

#save-btn {
    background-color: var(--base4);
}

form input,label {
    background-color: transparent !important;
    color: inherit !important;
}

.form-text {
    color : var(--32) !important;
}
