@import url("./root.css");

th {
    background-color: #F32121 !important;
    color : var(--92) !important;
    
}

td {
    border: none !important;
    background-color: transparent !important;
}

#save-btn {
    background-color: var(--base4);
}

/* table {
    border: 2px solid var(--72) !important;
} */
 