@import url("./root.css");

a {
    background-color: transparent !important;
    color: inherit !important;
}

th {
    background-color: #F32121 !important;
    color : var(--92) !important;
    
}

td {
    border: none !important;
}

#save-btn {
    background-color: var(--base4);
}

<<<<<<< HEAD
/* table {
    border: 2px solid var(--72) !important;
} */
 .activeSubject{
    
 }
=======
form input,label {
    background-color: transparent !important;
    color: inherit !important;
}

.form-text {
    color : var(--32) !important;
}
>>>>>>> 4011058d699c89435038173ce67aa41d8f5d4bf3
